<!DOCTYPE html>
<html ng-app="store">
	<head>
		<link rel="stylesheet" type="text/css" href="bootstrap-3.2.0-dist\css\bootstrap.min.css" />
	</head>
	<body ng-controller="StoreController as store">
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<a href>Hi</a>
	<div ng-controller="ProductController as pcontrol">
		<ul class="nav nav-pills">
		<li><h2>{{store.products[pcontrol.i].name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2></li>
		<li><h2>{{store.products[pcontrol.i].price | currency}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2></li>
		</ul>
		<button ng-click="pcontrol.setNext()"> View Next </button>
		<button ng-click="pcontrol.setPrev()"> View Previous </button>
		<section>
			<ul class="nav nav-pills">
				<li> <a href>Description</a> </li>
				<li> <a href>Specification</a> </li>
				<li> <a href>Reviews</a> </li>
			</ul>
		</section>
	</div>
	</body>
</html>
		