<!DOCTYPE html>
<html ng-app="store">
	<head>
		<link rel="stylesheet" type="text/css" href="bootstrap-3.2.0-dist\css\bootstrap.min.css" />
	</head>
	<body ng-controller="StoreController as store">
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<div ng-controller="ProductController as pcontrol">
		<ul class="nav nav-pills">
		<li><h2>{{store.products[pcontrol.i].name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2></li>
		<li><h2>{{store.products[pcontrol.i].price | currency}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2></li>
		</ul>
		<a href ng-click="pcontrol.setNext()" ng-show="pcontrol.showNext(store.products)"> View Next </a>
		<a href ng-click="pcontrol.setPrev()" ng-show="pcontrol.showPrev(store.products)"> View Previous </a>
		<section ng-controller="PanelController as panel">
			<ul class="nav nav-pills">
				<li ng-class="{active:panel.isSelected(1)}"> <a href ng-click="panel.selectTab(1)">Description</a> </li>
				<li ng-class="{active:panel.isSelected(2)}"> <a href ng-click="panel.selectTab(2)">Specification</a> </li>
				<li ng-class="{active:panel.isSelected(3)}"> <a href ng-click="panel.selectTab(3)">Reviews</a> </li>
			</ul>
			<div class="panel" ng-show="panel.isSelected(1)">
				<p>{{store.products[pcontrol.i].description}}</p>
			</div>
			<div class="panel" ng-show="panel.isSelected(2)">
				<p>{{store.products[pcontrol.i].specification}}</p>
			</div>
			<div class="panel" ng-show="panel.isSelected(3)">
				<div ng-repeat="review in store.products[pcontrol.i].reviews">
					<p>{{"Stars : "+review.stars}}</p>
					<p>{{review.body}}</p>
					<p>{{review.author}}</p>
					<p>{{review.createdOn | date:'MM/dd/yyyy @ h:mma'}}</p>
				</div>
			</div>
		</section>
	</div>
	</body>
</html>
		