<form name="reviewForm" ng-submit="reviewForm.$valid && reviewCtrl.addReview(store.products[pcontrol.i])" novalidate>
					<blockquote>
						<b>Stars : {{reviewCtrl.review.stars}} </b>
						<br />
						{{reviewCtrl.review.body}}
						<br />
						<cite>by: {{reviewCtrl.review.author}}</cite>
					</blockquote>
					<select ng-model="reviewCtrl.review.stars" required>
						<option value="1">1 Star</option>
						<option value="2">2 Star</option>
						<option value="3">3 Star</option>
						<option value="4">4 Star</option>
						<option value="5">5 Star</option>
					</select>
					<textarea ng-model="reviewCtrl.review.body" required></textarea>
					<label>by:</label>
					<input type="email" ng-model="reviewCtrl.review.author" required/>
					<div> reviewForm is {{reviewForm.$valid}} </div>
					<input type="submit" value="Submit" />
</form>